#cityPageContant {
  background-color: rgba(245, 249, 253, 0.76);
}

#currentCityContact {
  background-color: rgba(116, 116, 116, 0.521);
}

.cartHeader {
  background-color: rgba(46, 46, 46, 0.521);
}

.temp {
  font-size: 60px;
}

.cartFooter {
  background-color: rgba(46, 46, 46, 0.288);
}

.dateNameColor {
  color: rgb(21, 101, 121);
}

.weeklyTempretere {
  justify-content: space-between;
}
